html, body {
  margin: 0;
  padding: 3rem 0;
  font-family: sans-serif;
  background-color: #fdfdec;
  justify-content: center;
  display: flex;
  font-size: 1rem;
  user-select: none;
  font-family: Ubuntu;
}

input {
  background-color: #ededc9;
  text-align: center;
  padding: 0.8rem 0;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
}

input::placeholder {
  color: #9a9a80;

}

button {
  color: #ffffff;
  background-color: #9a9a80;
  padding: 0.8rem 0;
  width: 250px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.1s ease-in;
}

button:hover {
  background-color: #707062;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem ;
  max-width: 250px;
  justify-content: center;
  align-items: center;
}
 
img {
  width: 9rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 0;
  list-style-type: none;

}

ul li {
  color: #707062;
  background-color: #ededc9;
  box-shadow: 0px 1px 4px rgba(0, 0,0,0.2);
  padding: 0.8rem;
  flex-grow: 1;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

li:hover {
  background-color: #ffffbb;
}

@media screen and (max-width: 320px) {
  html {
    padding: 0;
  }
}